BoxSet.egg-info/
boxset/__pycache__/
boxset/conservation_laws/__pycache__/
boxset/output/__pycache__/
boxset/reconstruction/__pycache__/
boxset/timesteppers/__pycache__/
examples/__pycache__/
.numba_config.yaml
local_vis/